/* variables tema 1 */

$base-color: #59c9a5;
$important-color: #EF959D;
$warning-color: #69585F;
$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: 'Courier New', Courier, monospace;
$border-radius: 10px;
$box-shadow: 3px 3px 53px 5px rgba(179,179,179,1);